/* GENERAL*/ 

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(karla.woff) format('woff');
}

html * {
	margin: 0;
	padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Karla';
	font-size: 1.5em;
	height: 100%;
}

h4, h3 {
	text-align: center;
	color: #FFFFFF;
}

table {
	font-size: 0.9em;
}

#app {
	width: 100%;
}

.row {
	margin-top: .5em;
}

.translucentContainer {
	background-color: rgba(255,255,255,0.5);
	padding: .5em;
	min-height: 10em;
}
.opaqueContainer {
	background-color: rgba(255,255,255,0.6);
	margin-top: .2em;
	height: 8em;
	text-align: center;
}

#addDayButton {
	margin-top: 100%;
	width:200px;
	height:100px;
}

#nav {
	position: absolute; 
	height: 8%; 
	width: 100%; 
	top: 0; 
	margin: 0; 
	padding: .8%; 
	background-color: #555555;
}

#app {
	position: absolute; 
	height: 92%; 
	top: 8%; 
	margin: 0; 
	padding: 0;
}

.infobox {
	padding: 0;
	top: 25%; 
	text-align: center; 
	background-color: #FFFFFF;
}

/* VIEW 1 */

#parkedColumn {
	background-color: #B1D1E0;
	height: 100%;
}

.type-1 {	/* yellow - work */
	background-color: #F1AD1D;
}

.type-2 {	/* green - pause */
	background-color: #C9CF31; /*#17A768;*/
}

.type-3 {	/* red - presentation */
	background-color: #F1601D;
}

.type-4 {	/* beige - brainstorm */
	background-color: #BBAE93;
}

.tableDraggable {
	width: 100%;
	margin-top: 0;
	border-collapse: collapse;
	border-spacing: 0em 0.5em;
}
.tableDraggable tr:hover {
	cursor: move;
}
.time {
	text-align: center;
	background-color: #FFFFFF;
}
.duration {
	font-size: 0.7em;
}
.activity {
	padding: .5em;
	color: #FFFFFF;
}

/* VIEW 2 */

#dayContainer {
	background-color: #EEEEEE;
	overflow-x: auto; 
	overflow-y: hidden;
	white-space: nowrap; 
	height: 100%; 
	margin: 0; 
	padding: 0;
}
.dayColumn {
	background-color: #DBDACD;
	border-radius: .3em;
	margin: 0.5em 0em .5em .5em;
	height: 98%;
	display: inline-block;
	float: none;
}
/* Uncomment this to have an alternated color scheme
.pair-0 {
	background-color: #C9CF31;
}

.pair-1 {
	background-color: #F8931F;
}*/
.colorBand {
	min-height: 5px;
}
.table-condensed {
	text-align: left;
	border-collapse: separate;
	border-spacing: 0em .5em;
}
.table-condensed td {
	height: 2em;
}
.progressContainer {
	height: 100%; 
	width:100%; 
	position: absolute; 
	left: 0; 
	top: 0; 
	padding: .5em;
	margin: 0px;
}

.progressBlock {
	margin: 0px; width: 100%;
}

.breakThreshold {
	background-color: white; 
	position: absolute; 
	top: 70%; 
	left: 3%; 
	height: 1px; 
	width: 94%;
}

/* VIEW 4 */

#overlay, #overlayDay {
	position: absolute; 
	height: 100%; 
	background-color: rgba(0,0,0,0.8); 
	text-align: center;
	top: 0; 
	margin: 0; 
	left: 0;
	width: 100%;
}

/* Drag and Drop */
.connectedSortable tr, .ui-sortable-helper {
	padding: 0;
	margin: 0;
	cursor: move;
}
.connectedSortable tr:first-child {
	padding: 0;
	margin: 0;
	cursor: default;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}