#div1 {
	border: 2px;
	border-style: dashed;
	padding: .5em;
	border-color: #AAAAAA;
	width:100%;
	font-size: .8em;
	height:10em;
}
.row {
	width:100%;
	margin-top: .5em;
}
th {
	font-weight: normal;
}
.time {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.activity {
	width:77.5%;
	border-width: 1px;
	border-style: solid;
	border-color: steelblue;
	padding-left: 5px;
}
tr {
	height:30px;
}
#addDayButton {
	margin-top: 200px;
	width:200px;
	height:100px;
}
#overlay {
	position: absolute; 
	height: 100%; 
	background-color: rgb(255,255,255); 
	text-align: center;
	top: 0; 
	margin: 0; 
	left: 0;
}
.btn-special {
	border-width: 1px;
	border-style: solid;
	border-color: #2dbf2d;
	background-color: #90e590;
	color: white;
	font-weight: bold;
}
.inputForm {
	height: 1.8em !important;
}
.colorBand {
	min-height: 5px;
}
.table-condensed {
	height: 6.5em !important;
	font-size: .8em;
}
.progressContainer {
	height: 100%; 
	width:100%; 
	position: absolute; 
	left: 0; 
	top: 0; 
	padding: 0px !important; 
	margin: 0px !important;
}